th, tr, table{
    border: 1px solid grey;
    text-align: center;
}

th, tr, td{
 border: 1px solid green;
 padding: 5px;   
}

caption{
    font-size: 20px;
    color: blue;
    text-align: left;
}

textarea{
    background-color: black;
    width: 20%;
    height: 160px;
    color: white;
}
